*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 34);
    color: white;
    font-family: 'Poppins',sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(18, 18, 79);
    
}
nav  ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 25px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin:10px 20px 0 0;
}
.firstsection div{
width: 500px;
}
.leftsection{
font-size: 5rem;
height: 400px;
margin: 20px 30px 20px 30px;
}
.rightsection{
width: 400px;
height: 500px;
background-image: url("portfolio img2.jpg");
background-size: cover;
margin: 5px 30px 40px 30px;
border-radius: 30%;
}
h1{
text-align: center;
text-decoration: underline;
line-height: 2.7;
margin: 50px 0 50px 0;
}
.outer1{
height: 200px;
display: flex;
justify-content: space-around;
margin: 0 25px 70px 0;
}
.inner1{
margin-right: 100px; 
height: 200px;
}
.outer2{
height: 200px;
display: flex;
justify-content: space-around;
margin: 0 25px 70px 0;
}
.inner2{
margin-right: 100px; 
width: 200px;
height: 200px;
}
.outer3{
height: 200px;
display: flex;

}
.inner3{
width: 200px;
height: 200px;

}
.inin1{
width: 500px;
height: 200px;

}

.inin2{
width: 50px;
height: 200px;
/* border: 1px solid blanchedalmond; */

}
.inin3{
width: 500px;
height: 200px;

}
.mid{
height: 100px;
}
.outer{
margin-top: 200px;
display: flex;
flex-direction: column;
height: 300px;
}
.inner4{
width: 300px;
height: 300px;
margin-right: 100px;


}
.inin4{
width: 10px;
height: 300px;


}
.inin5{
width: 900px;
height: 300px;


}




